@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Hilton Entertainment</h1>
    <a class="btn btn-info" asp-controller="Home" asp-action="Entertainers">Click to see our talent</a>
</div>